<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  

<body>
    <ag-grid-angular
style="width: 900px; height: 400px;"
class="ag-theme-alpine"
(gridReady)="onGridReady($event)"
(click)="onSelectionChanged(rowData)"
[defaultColDef]="defaultColDef"
[columnDefs]="columnDefs"
[rowData]="rowData"
[rowSelection] = "rowSelection"
>
</ag-grid-angular>
<div *ngIf="selected" >


<h2>Member</h2>

<p><span ng-show   style="color:red" >No :</span>
<label >{{selected.no}}</label></p>

<p><span ng-show   style="color:red" >Name :</span>
<input type="text" [(ngModel)]="selected.name">

</p>

<p><span ng-show   style="color:red" >Occupation :</span>
<input type="text"[(ngModel)]="selected.occ" >
</p>


<input  type="checkbox" (click)="check_btn()" ><span ng-show   style="color:red" >More Detail :</span>
    
    <p><span ng-show   style="color:red" >Birthdate :</span>
    <input  type="date" [disabled]="Check2" [(ngModel)]="selected.bd">
    </p>

    <p><span ng-show   style="color:red" >Address :</span>
        <input type="text" [disabled]="Check2" [(ngModel)]="selected.ad" >
        </p>

        <p><span ng-show   style="color:red" >PS :</span>
            <input type="text" [disabled]="Check2" [(ngModel)]="selected.ps">
            </p>

            <p><span ng-show   style="color:red" >Attached :</span>
                <input type="file" id="file" (change)="file_check($event.target.files)"></p>
              
                <p><span ng-show   style="color:red" >File Name :</span>
                <label id="fileN">{{fileN}}</label></p>
           
                <p><span ng-show   style="color:red" >File Size :</span>
                <label id="size">{{fileS}}</label></p>
          


    <button  class="summit" (click)="register()">Register</button>

</div>


</body>
